<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<div class="container">
<% if notifications.exists? %>
  <div class="notifications row">
    <div class="col-md-7 offset-md-3">
      <% notifications.each do |notification| %>
        <%= render 'notification', notification: notification %>
      <% end %>
      <div class="paginate">
        <%= paginate notifications, window: 10 %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p>通知はありません</p>
    </div>
  </div>
<% end %>
</div>