
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.image, class: 'user_icon' %>
      <%= link_to user.name, user%>
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "削除", user, method: :delete, data: {confirm: "本当にこのユーザーを消去しますか?"} %>
      <% end %>
    </li>
  <% end %>
</ul>
