
<div class="top_wrapper">
  <div class="masthead">
    <h1>困りごとひろば</h1>
    <h3>困っている状態の緩和や解決に向けたサービス</h3>
  </div>
  <div class="center jumbotron jumbotron2">
  <div class="container">
    <div class="content-section-heading">
      <h2 class="mb-5">困りごとひろばってどんな場所？</h2>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="far fa-edit icon-1" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>困りごとの投稿</strong>
        </h4>
        <p class="text-faded text-left mb-0">今自分が困っていることを投稿することができます。困りごとは投稿したユーザーにのみ、編集・削除が可能です。</p>
      </div>

      <div class="col-md-4 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="fas fa-heart icon-2" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>心が少し平穏になる</strong>
        </h4>
        <p class="text-faded text-left mb-0">今感じていることをありのまま記入する項目や、自分に労いの言葉をかける項目に記入することで、心を平静な状態に近づけることができます。</p>
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="far fa-thumbs-up icon-2" aria-hidden="true"></i>
        </span>
        <h4>
          <strong>投稿へのリアクション</strong>
        </h4>
        <p class="text-faded text-left mb-0">他のユーザーが投稿した困りごとには「わかる」「おうえん」などのリアクションをすることができ、それらは投稿ユーザーに通知されます。</p>
      </div>

    </div>
    </div>
  </div>
</div>
