<div id="search_form">
  <%= search_form_for @q, url: posts_search_path do |f| %>
    <%= f.search_field :content_or_optional_content_or_optional_content_2_or_optional_content_3_or_optional_content_4_or_optional_content_5_or_optional_content_6_cont, id: 'search_word', placeholder: 'キーワードで投稿を検索...', required: true %>
    <%= button_tag type: 'submit', id: 'search_icon', class: 'btn' do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %>
</div>