<h3 class="search_header">検索結果</h3>

<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3">
      <% if @posts.any? %>
        <%= render 'post' %>
      <% else %>
        <p>一致する投稿はありません</p>
      <% end %>
  </div>
</div>
</div>