<h1>みんなの困りごと</h1>

<div class="row">
  <div class="col-md-8 offset-md-2">
      <% if @posts.any? %>
        <%= render 'post' %>
      <% else %>
        <p>一致する困りごとはありません</p>
      <% end %>
  </div>
</div>