/*@import "bootstrap-sprockets";*/
@import "bootstrap";

$gray-medium-light: #eaeaea;

@font-face {
  font-family: "web_font";
  src: font-url("Koruri-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}

h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: #777;
}

p {
font-size: 1.1em;
line-height: 1.7em;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

body {
  //margin-top: 0px;
  padding-top: 60px;
  font-family: "web_font";
  // background-color: #fffaf1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  font-family: "Hiragino Kaku Gothic ProN";
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

li {
  list-style: none;
}

.user_icon {
  width: 50px;
}

// .wrapper {
//   display: flex;
//   flex-direction: column;

//   .post_items {
//     border: solid 1.5px rgba(165, 42, 42, 0.808);
//     background: #fffaf1;
//     padding: 0.5em 1em 0.5em 2.3em;
//     position: relative;

//     li {
//       line-height: 1.5;
//       padding: 0.5em 0;
//     }
//   }
// }

.field {
  margin: 0 auto;
}

header {
  display: flex;
}

/* テーブル */

.table {
  margin: 0 auto;
}

/* フォーム */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: red;
//   }
// }

/* ページネーション */
nav {
  .pagination {
    margin: 0 auto;
    width: 200%;
    li{
      a {
      border: none;
      color: #696969;
      }

      // a:hover {
      //   border-radius: 15px;
      // }
    }
    // .active {
    //   a {
    //   background: #93c9ff;
    //   border-radius: 15px;
    //   }
    // }
  }
}

/* サイドバー */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* ユーザー一覧 */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* 投稿 */

.posts {
  list-style: none;
  padding: 0;

  .top {
    li {
      display: inline-block;
      position: relative;
      right: 30px;
    }
  }

  .post {
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
  }

  .post_items {
    margin: 30px 0;
    div {
      padding-bottom: 10px;
      border-bottom: 3px solid #e8e8e8;
      // font-weight: bold;
    }
  }

  .timestamp {
    color: gray;
    display: inline-block;
    margin-left: 30px;
  }

  .progress_form_button {
    width: 70%;
    margin-top: 10px;
    margin-left: 20px;
  }

  .progress_index_button {
    width: 70%;
    display: inline-block;
    text-align: center;
  }
}




.buttons {
  margin: 10px 0;
  text-align: center;

    .wakaru_button {
      display: inline-block;
    }

    .like_button {
      display: inline-block;
    }

    .teinei_button {
      display: inline-block;
    }

    .ouen_button {
      display: inline-block;
    }

    .sounanda_button {
      display: inline-block;
    }

    .erai_button {
      display: inline-block;
    }

    .teinei2_button {
      display: inline-block;
    }

    .ouen2_button {
      display: inline-block;
    }
}





aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#search_form {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;

  #search_word {
    display: inline-block;
    border-radius: 3px;
    height: 150%;
    width: 30%;
  }

  #search_icon {
    display: inline-block;
    width: 5%;
    height: 50%;
    position: relative;
    right: 50px;
    bottom: 2px;
  }
}

/* アコーディオン */

.accordion_wrapper {
  position: relative;
  margin: 37.5px auto;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;

  .accordion_title {
    position: relative;
    display: block;
    padding: 12.5px 12.5px 12.5px 40px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    background: #1abc9c;
    cursor: pointer;
  }

  .accordion_content {
    display: none;
    padding: 20px;
  }

  .accordion_content_display {
    padding: 20px;
  }

  .accordion_title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .accordion_title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }
}

/* その他 */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}