/*@import "bootstrap-sprockets";*/
@import "bootstrap";

$gray-medium-light: #eaeaea;

@font-face {
  font-family: "web_font";
  src: font-url("Koruri-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.w-30px {
  width: 70px !important;
}

/// アプリ全般 ///

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

body {
  //margin-top: 0px;
  padding-top: 65px;
  font-family: "web_font";
  margin: 0;
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 14%;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  font-family: "Hiragino Kaku Gothic ProN";
}

.center {
  text-align: center;
}


li {
  list-style: none;
}

.user_icon {
  width: 50px;
}

.top_wrapper {
  width:100%;
  overflow:hidden;
}

.field {
  margin: 0 auto;
}

/// フォーム ///

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/// テーブル ///

.table {
  margin: 0 auto;
}

/// サイドバー ///

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }

  .user_info {
    h1 {
      display: inline-block;
    }
    span {
      margin-left: 40px;
      display: inline-block;
    }
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/// ヘッダー ////

.unloggedin-header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  .header-signup {
    margin-right: 50px;
    margin-top: 10px;
    font-size: 1rem;
  }

  .header-login {
    margin-top: 10px;
    font-size: 1rem;
  }
}

.loggedin-header {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin-top: 10px;
  }

  .header-post {
    position: relative;
    right: 57%;
  }

  .header-posts {
    position: relative;
    right: 43%;
  }

  .header-myposts {
    position: relative;
    right: 30%;
  }

  .header-notification {
    position: relative;
    right: 15%;
  }
}

.navbar-brand {
  color: white;
}

.navbar {
  background-color: #1a967d;
  opacity: 0.85;
  display: flex;

  a {
    color: white;
  }
}

.dropdown-menu a {
  color: black;
}

@media screen and (max-width: 480px) {
  .loggedin-header, .unloggedin-header {
    display: none;
  }
}

#hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  margin: 0 0 0 auto;
  display: none;
}

@media screen and (max-width: 480px) {
  #hamburger {
    display: block;
  }
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
}

#hamburger::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#hamburger::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #fff;
}

.sp-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  transition: all .2s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}

.sp-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp-nav li {
  margin: 0;
  padding: 0;
}

.sp-nav li span {
  font-size: 15px;
  color: #fff;
}

.sp-nav li a, .sp-nav li span {
  display: block;
  padding: 20px 0;
}

.sp-nav .close {
  position: relative;
  padding-left: 20px;
}

.sp-nav .close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( 45deg );
}

.sp-nav .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( -45deg );
}

.toggle {
  transform: translateY( 0 );
  opacity: 1;
}


/// トップページ ///

.masthead {
  min-height: 40rem;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image:  linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%),image-url("mori.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1, .masthead h3 {
  font-weight: 700;
  text-align: center;
  font-family: 'Source Sans Pro';
}

.masthead h1 {
  font-size: 3.5rem;
  margin-top: 100px;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .masthead h1 {
    font-size: 2.6rem;
  }

  .masthead h3 {
    font-size: 1.6rem;
  }
}

.jumbotron2 {
  background-color: #1a967d;
  min-height: 35rem;
  margin-bottom: 40px;
  // opacity: 0.85;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.jumbotron h2 {
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 3.1rem;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 480px) {
  .jumbotron h2 {
    font-size: 2.4rem;
  }
}

.jumbotron h4 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.jumbotron p {
  font-size: 1.1rem;
  color: white;
}

.service-icon {
  background-color: #fff;
  color: #1a967d;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.icon-1 {
  font-size: 60px;
  margin: 28px 0px 0px 9px;
}

.icon-2 {
  font-size: 60px;
  margin: 28px 0px 0px 2px;
}


/// ログインページ ///

.login-heading {
  padding-top: 40px;
  font-weight: 700;
  text-align: center;
}


/// 新規ユーザー登録ページ ///

.signup-heading {
  padding-top: 40px;
  font-weight: 700;
  text-align: center;
}


/// 新規投稿ページ ///

/// モーダルウィンドウ ///

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.post_modal_content {
  display: none;
  text-align: center;
}

.twitter-share-button {
  margin-top: 20px;
}

/// アコーディオンパネル ///

.accordion_wrapper {
  position: relative;
  margin: 37.5px auto;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer;

  .accordion_title {
    position: relative;
    display: block;
    padding: 12.5px 12.5px 12.5px 40px;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    background-color: #1a967d;
    opacity: 0.85;
    cursor: pointer;
  }

  .accordion_content {
    display: none;
    padding: 20px;
  }

  .accordion_content_open {
    padding: 20px;
  }

  .accordion_title:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .accordion_title.open:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
  }
}

/// ユーザ一覧ページ ///

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/// 投稿一覧ページ ///

.posts {
  list-style: none;
  padding: 0;

  .top {
    li {
      display: inline-block;
      position: relative;
      right: 30px;

      .fa-angle-down {
        position: relative;
        left: 230px;
        top: 5px;
      }

      .my-size {
        font-size: 1.7em;
      }

      .dropdown-menu {
        width: 20%;
      }

      .fa-angle-down:hover {
        cursor: pointer;
      }
    }
  }

  .post {
    padding: 20px 0;
    border-top: 3px solid #dbccc2 // #e8e8e8;
  }

  .post_items {
    margin: 30px 0;
    div {
      padding-bottom: 10px;
      border-bottom: 2px solid #dbccc2 //#e8e8e8;
      // font-weight: bold;
    }
  }

  .timestamp {
    color: gray;
    display: inline-block;
    margin-left: 30px;
  }

  .progress_buttons {
    text-align: center;

    .progress_form_button {
      display: inline-block;
      width: 35%;
      margin:0 auto;
      text-align: center;
    }

    .progress_index_button {
      display: inline-block;
      width: 35%;
      margin:0 auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  .posts .top li .fa-angle-down {
    left: 330%;
  }
}

/// 検索窓 ///

#search_form {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;

  #search_word {
    display: inline-block;
    border-radius: 3px;
    height: 150%;
    width: 30%;
  }

  #search_icon {
    display: inline-block;
    width: 5%;
    height: 50%;
    position: relative;
    right: 50px;
    bottom: 2px;
  }
}

.search_header{
  margin-top: 45px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #search_form {
    display: none;
  }
}

/// ページネーション ///

.paginate {
  width: 100%;
  .pagination {
    li{
      a {
      border: none;
      color: #696969;
      }

      // a:hover {
      //   border-radius: 15px;
      // }
    }
    // .active {
    //   a {
    //   background: #93c9ff;
    //   border-radius: 15px;
    //   }
    // }
  }
}

/// 進捗一覧ページ ///

.progress_items {
  border-top: 3px solid #e8e8e8;

  .top {
    .timestamp {
      position: relative;
      right: 35px;
    }

    li {
      display: inline-block;
      margin: 15px 0;

      .fa-angle-down {
        position: relative;
        left: 350px;
        top: 5px;
      }

      .my-size {
        font-size: 1.7em;
      }

      .dropdown-menu {
        width: 20%;
      }

      .fa-angle-down:hover {
        cursor: pointer;
      }
    }
  }
}

.progress_post_items {
  border-top: 3px solid #e8e8e8;
}

.progress_header, .progress_post_header{
  margin-top: 45px;
  font-weight: 700;
  text-align: center;
}


/// リアクションボタン ///

.reaction_buttons {
  margin: 10px 0;
  text-align: center;

    .wakaru_button {
      display: inline-block;
    }

    .like_button {
      display: inline-block;
    }

    .teinei_button {
      display: inline-block;
    }

    .ouen_button {
      display: inline-block;
    }

    .sounanda_button {
      display: inline-block;
    }

    .gift_button {
      display: inline-block;
      vertical-align: top;
    }

    .erai_button {
      display: inline-block;
    }

    .teinei2_button {
      display: inline-block;
    }

    .ouen2_button {
      display: inline-block;
    }
}

// .manage_buttons {
//   text-align: center;

//   .edit_button {
//     display: inline-block;
//     width: 40%;
//     margin-right: 20px;
//   }

//   .delete_button {
//     display: inline-block;
//     width: 40%;
//   }
// }

/// 通知一覧ページ ///

.notifications {
  .form-inline {
    margin: 30px 0;
    p {
      margin-left: 55px;
    }
  }
}


/// その他 ///

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}