<header class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-brand">困りごとひろば</div>
        <div class="nav navbar-nav navbar-right"><%= link_to "ログイン", "#" %></div>
    </div>
</header>